.widget.lsx-team .tagline + .lsx-team-shortcode { margin-top: 0; }

.lsx-team-archive-link-wrap { position: relative; margin-top: 6rem; overflow: hidden; }

.lsx-team-archive-link { display: inline-block; position: relative; }

.lsx-team-archive-link:before, .lsx-team-archive-link:after { content: ''; display: block; height: 2px; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 999rem; }

.lsx-team-archive-link:before { left: 120%; }

.lsx-team-archive-link:after { right: 120%; }

.lsx-team-shortcode { margin-top: -4rem; }

.lsx-team-slot { margin-top: 4rem; text-align: center; }

.lsx-team-slot .lsx-team-avatar { border-radius: 50%; display: block; height: 170px; margin: 0 auto 2rem; overflow: hidden; width: 170px; }

.lsx-team-slot .lsx-team-roles, .lsx-team-slot .lsx-team-job-title { display: block; font-size: 15px; margin-top: 5px; }

.lsx-team-slot .lsx-team-name { margin-bottom: 0; margin-top: 0; }

.lsx-team-slot .lsx-team-description { margin-top: 2.4rem; }

.lsx-team-slot ul.lsx-team-socials { margin: 2.4rem 0 0; padding-right: 0; }

.lsx-team-slot ul.lsx-team-socials > li { padding-right: 1rem; padding-left: 1rem; }

.lsx-team-slot ul.lsx-team-socials > li > a { font-size: 22px; }

.lsx-team-slot .lsx-team-email { display: inline-block; margin-top: 5px; }

.lsx-team-slot .lsx-team-show-more { display: inline-block; margin-top: 15px; }

.lsx-team-slot .lsx-team-show-more > .fa { margin-right: 1rem; }

@media (min-width: 992px) { #lsx-team-slider { margin-right: auto; margin-left: auto; width: 100%; }
  #lsx-team-slider.slick-has-arrows { width: calc(100% - 8rem); } }

@media (min-width: 1280px) { #lsx-team-slider { margin-right: -15px; margin-left: -15px; width: calc(100% + 30px); }
  #lsx-team-slider.slick-has-arrows { width: calc(100% + 30px); } }

.tab-pane #lsx-team-slider { margin-right: -15px; margin-left: -15px; }

@media (min-width: 768px) { .tab-pane #lsx-team-slider { margin-right: auto; margin-left: auto; width: 100%; }
  .tab-pane #lsx-team-slider.slick-has-arrows { width: calc(100% - 8rem); } }

#lsx-team-slider .lsx-team-slot.slick-slide { margin-right: 15px; margin-left: 15px; }

#lsx-team-slider .slick-dots { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; height: auto; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; list-style: none; margin: 2rem 0 0; padding: 0; }

#lsx-team-slider .slick-dots > li { line-height: 1; padding: 5px; }

@media (min-width: 992px) { #lsx-team-slider .slick-dots > li { padding: 0 7.5px; } }

#lsx-team-slider .slick-dots > li > button { background: transparent; border-style: solid; border-width: 1px; font: 0/0 a; height: 12px; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; width: 4rem; }

@media (min-width: 992px) { #lsx-team-slider .slick-dots > li > button { height: 6px; } }

#lsx-team-slider .slick-arrow { background: transparent; border-radius: 50%; border-style: solid; border-width: 2px; font: 0/0 a; height: 4rem; margin-top: calc((2rem - 17px) / 2); opacity: 1; padding: 0; position: absolute; text-shadow: none; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: border 300ms ease; transition: border 300ms ease; width: 4rem; z-index: 3; }

#lsx-team-slider .slick-arrow:before { display: block; font-family: 'FontAwesome'; font-size: 3rem; line-height: 1; position: absolute; text-rendering: auto; top: 47%; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: color 300ms ease; transition: color 300ms ease; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

#lsx-team-slider .slick-arrow.slick-disabled { cursor: not-allowed; }

#lsx-team-slider .slick-arrow.slick-prev { right: -4rem; }

#lsx-team-slider .slick-arrow.slick-prev:before { content: '\f104'; right: 1.1rem; }

#lsx-team-slider .slick-arrow.slick-next { left: -4rem; }

#lsx-team-slider .slick-arrow.slick-next:before { content: '\f105'; right: 1.5rem; }

.gutenberg-compatible-template.using-gutenberg .lsx-team-block, .gutenberg-compatible-template.using-gutenberg #lsx-team-slider.lsx-team-block { max-width: 60%; width: 60%; margin-right: auto; margin-left: auto; }

.gutenberg-compatible-template.using-gutenberg .lsx-team-block.wide, .gutenberg-compatible-template.using-gutenberg #lsx-team-slider.lsx-team-block.wide { max-width: 80%; width: 80%; margin-right: auto; margin-left: auto; }

.gutenberg-compatible-template.using-gutenberg .lsx-team-block.full, .gutenberg-compatible-template.using-gutenberg #lsx-team-slider.lsx-team-block.full { max-width: 100%; width: calc(100% + 30px); margin-right: -15px; margin-left: -15px; }

.archive.post-type-archive-team .site-main { margin: 0; width: auto; }

.archive.post-type-archive-team .lsx-team-container { margin-bottom: -4.5rem; margin-top: -4.5rem; }

.archive.post-type-archive-team .lsx-team-container .row-flex { -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.archive.post-type-archive-team .lsx-team-slot { margin-bottom: 4.5rem; margin-top: 4.5rem; }

.single.single-team .entry-tabs .tab-pane { padding: 0; }

@media (min-width: 768px) { .single.single-team .entry-tabs .tab-pane { padding: 4rem 0; } }

.single.single-team .entry-tabs .nav-tabs { -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; border-bottom: 0 none; margin: 4.25rem 0 15px 0; padding-right: 10px; padding-left: 10px; }

.single.single-team .entry-tabs .nav-tabs:before, .single.single-team .entry-tabs .nav-tabs:after { display: none; }

@media (min-width: 768px) { .single.single-team .entry-tabs .nav-tabs { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; } }

.single.single-team .entry-tabs .nav-tabs > li { margin-bottom: 0; width: 100%; }

@media (min-width: 768px) { .single.single-team .entry-tabs .nav-tabs > li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; max-width: 370px; } }

@media (min-width: 768px) { .single.single-team .entry-tabs .nav-tabs > li + li { margin-right: 10px; } }

.single.single-team .entry-tabs .nav-tabs > li > a { border: 0 none; border-radius: 0; font-size: 16px; margin: 0; padding: 1rem 0; text-align: center; -webkit-transition: all 300ms ease; transition: all 300ms ease; }

@media (min-width: 768px) { .single.single-team .entry-tabs .nav-tabs > li > a { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }

@media (min-width: 992px) { .single.single-team .entry-tabs .nav-tabs > li > a { font-size: 22px; } }

.single.single-team .entry-tabs .nav-tabs > li.active > a { border: 0 none; position: relative; }

@media (min-width: 768px) { .single.single-team .entry-tabs .nav-tabs > li.active > a:after { content: ''; border-style: solid; border-width: 0 6px 6px 6px; bottom: 0; height: 0; right: 50%; position: absolute; -webkit-transform: translateX(50%); transform: translateX(50%); width: 0; } }

@media (min-width: 768px) and (min-width: 992px) { .single.single-team .entry-tabs .nav-tabs > li.active > a:after { border-width: 0 9px 9px 9px; } }

.single.single-team .entry-tabs .lsx-blog-customizer-posts-wrapper { width: 100%; }

.single.single-team .entry-tabs .lsx-blog-customizer-posts-wrapper .slick-arrow { display: none !important; }

.single.single-team .entry-tabs .lsx-blog-customizer-posts-wrapper .post-slot.slick-slide { margin-right: 10px; margin-left: 10px; }

.single.single-team .lsx-team-avatar { border-radius: 50%; display: block; height: 32rem; margin: 0 auto 10px; overflow: hidden; width: 32rem; }

.single.single-team .lsx-team-avatar > img { width: 100%; }

.single.single-team .lsx-team-avatar > img.lazyload, .single.single-team .lsx-team-avatar > img.lazyloading { width: auto; }

.single.single-team .lsx-team-socials-header { display: block; margin: 0 auto; padding-bottom: 5px; position: relative; text-align: center; }

.single.single-team .lsx-team-socials-header:after { border-bottom: 1px solid; bottom: 0; content: ''; height: 0; right: 50%; position: absolute; -webkit-transform: translateX(50%); transform: translateX(50%); width: 80px; }

.single.single-team .lsx-team-socials { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 2.4rem 0 4.25rem; padding: 0; }

@media (min-width: 992px) { .single.single-team .lsx-team-socials { margin: 2rem 0 0; } }

.single.single-team .lsx-team-socials > li { margin-right: 15px; margin-left: 15px; padding: 0; }

.single.single-team .lsx-team-socials > li > a { -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-radius: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; height: 30px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-transition: background 300ms ease; transition: background 300ms ease; width: 30px; }

.single.single-team .lsx-team-name { margin-bottom: 0; }

.single.single-team .lsx-team-job-title { margin-bottom: 0; margin-top: 1.2rem; }

.single.single-team .lsx-team-content p { margin-bottom: 0; margin-top: 2.4rem; }

.single.single-team .lsx-team-contact { padding-right: 0; margin-top: 4.25rem; }

.single.single-team .lsx-team-contact li { margin-bottom: 5px; }

.single.single-team .lsx-team-contact .fa { font-size: 22px; margin-left: 5px; vertical-align: top; }

.lsx-team-archive-link:before, .lsx-team-archive-link:after { background-color: #dadddf; }

.lsx-team-slot .lsx-team-name > a:not(.btn), .lsx-team-slot .lsx-team-name > a:not(.btn):active, .lsx-team-slot .lsx-team-name > a:not(.btn):visited { color: #4a4a4a; }

.lsx-team-slot .lsx-team-name > a:not(.btn):hover, .lsx-team-slot .lsx-team-name > a:not(.btn):hover:active, .lsx-team-slot .lsx-team-name > a:not(.btn):focus { color: #f7ae00; }

.lsx-team-slot .lsx-team-roles, .lsx-team-slot .lsx-team-job-title { color: #919191; }

#lsx-team-slider .slick-dots > li > button { border-color: #4a4a4a; }

#lsx-team-slider .slick-dots > li.slick-active > button { background-color: #4a4a4a; }

#lsx-team-slider .slick-arrow { border-color: #4a4a4a; color: #4a4a4a; }

#lsx-team-slider .slick-arrow:hover { border-color: #f7ae00; color: #f7ae00; }

#lsx-team-slider .slick-arrow.slick-disabled { border-color: #dadddf; color: #dadddf; }

.single.single-team .entry-tabs .nav-tabs > li > a { background-color: #fff; }

.single.single-team .entry-tabs .nav-tabs > li > a:hover { background-color: #fff; }

.single.single-team .entry-tabs .nav-tabs > li.active > a { background-color: #418ad0; color: #fff; }

.single.single-team .entry-tabs .nav-tabs > li.active > a:after { border-color: transparent transparent #f6f6f6 transparent; }

.single.single-team .lsx-team-socials > li > a { background-color: #4a4a4a; color: #fff; }

.single.single-team .lsx-team-socials > li > a:hover { background-color: #f7ae00; }
