@import 'include-media';
@import 'customizer-team-body-colours';

.widget.lsx-team {
	.tagline {
		& + .lsx-team-shortcode {
			margin-top: 0;
		}
	}
}

.lsx-team-archive-link-wrap {
	position: relative;
	margin-top: 6rem;
	overflow: hidden;
}

.lsx-team-archive-link {
	display: inline-block;
	position: relative;

	&:before,
	&:after {
		content: '';
		display: block;
		height: 2px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 999rem;
	}

	&:before {
		right: 120%;
	}
	&:after {
		left: 120%;
	}
}

.lsx-team-shortcode {
	margin-top: -4rem;
}

.lsx-team-slot {
	margin-top: 4rem;
	text-align: center;

	.lsx-team-avatar {
		border-radius: 50%;
		display: block;
		height: 170px;
		margin: 0 auto 2rem;
		overflow: hidden;
		width: 170px;
	}

	.lsx-team-roles,
	.lsx-team-job-title {
		display: block;
		font-size: 15px;
		margin-top: 5px;
	}

	.lsx-team-name {
		margin-bottom: 0;
		margin-top: 0;
	}

	.lsx-team-description {
		margin-top: 2.4rem;
	}

	ul.lsx-team-socials {
		margin: 2.4rem 0 0;
		padding-left: 0;

		& > li {
			padding-left: 1rem;
			padding-right: 1rem;

			& > a {
				font-size: 22px;
			}
		}
	}

	.lsx-team-email {
		display: inline-block;
		margin-top: 5px;
	}

	.lsx-team-show-more {
		display: inline-block;
		margin-top: 15px;

		& > .fa {
			margin-left: 1rem;
		}
	}
}

#lsx-team-slider {
	@include media('>=tablet') {
		margin-left: auto;
		margin-right: auto;
		width: 100%;

		&.slick-has-arrows {
			width: calc(100% - 8rem);
		}
	}

	@include media('>=1280px') {
		margin-left: -15px;
		margin-right: -15px;
		width: calc(100% + 30px);

		&.slick-has-arrows {
			width: calc(100% + 30px);
		}
	}

	.tab-pane & {
		margin-left: -15px;
		margin-right: -15px;

		@include media('>=phone') {
			margin-left: auto;
			margin-right: auto;
			width: 100%;

			&.slick-has-arrows {
				width: calc(100% - 8rem);
			}
		}
	}

	.lsx-team-slot.slick-slide {
		margin-left: 15px;
		margin-right: 15px;
	}

	.slick-dots {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		height: auto;
		justify-content: center;
		list-style: none;
		margin: 2rem 0 0;
		padding: 0;

		& > li {
			line-height: 1;
			padding: 5px;

			@include media('>=tablet') {
				padding: 0 7.5px;
			}

			& > button {
				background: transparent;
				border-style: solid;
				border-width: 1px;
				font: 0/0 a;
				height: 12px;
				transition: all 300ms ease-in-out;
				width: 4rem;

				@include media('>=tablet') {
					height: 6px;
				}
			}
		}
	}

	.slick-arrow {
		background: transparent;
		border-radius: 50%;
		border-style: solid;
		border-width: 2px;
		font: 0/0 a;
		height: 4rem;
		margin-top: calc((2rem - 17px) / 2);
		opacity: 1;
		padding: 0;
		position: absolute;
		text-shadow: none;
		top: 50%;
		transform: translateY(-50%);
		transition: border 300ms ease;
		width: 4rem;
		z-index: 3;

		&:before {
			display: block;
			font-family: 'FontAwesome';
			font-size: 3rem;
			line-height: 1;
			position: absolute;
			text-rendering: auto;
			top: 47%;
			transform: translateY(-50%);
			transition: color 300ms ease;

			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		&.slick-disabled {
			cursor: not-allowed;
		}

		&.slick-prev {
			left: -4rem;

			&:before {
				content: '\f104';
				left: 1.1rem;
			}
		}

		&.slick-next {
			right: -4rem;

			&:before {
				content: '\f105';
				left: 1.5rem;
			}
		}
	}
}

.gutenberg-compatible-template.using-gutenberg {
	.lsx-team-block,
	#lsx-team-slider.lsx-team-block {
		max-width: 60%;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		&.wide {
			max-width: 80%;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
		&.full {
			max-width: 100%;
			width: calc(100% + 30px);
			margin-left: -15px;
			margin-right: -15px;
		}
	}
}

.archive.post-type-archive-team {
	.site-main {
		margin: 0;
		width: auto;
	}

	.lsx-team-container {
		margin-bottom: -4.5rem;
		margin-top: -4.5rem;

		.row-flex {
			align-items: stretch;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
		}
	}

	.lsx-team-slot {
		margin-bottom: 4.5rem;
		margin-top: 4.5rem;
	}
}

.single.single-team {
	.entry-tabs {
		.tab-pane {
			padding: 0;

			@include media('>=phone') {
				padding: 4rem 0;
			}
		}

		.nav-tabs {
			&:before,
			&:after {
				display: none;
			}

			align-items: stretch;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			border-bottom: 0 none;
			margin: 4.25rem 0 15px 0;
			padding-left: 10px;
			padding-right: 10px;

			@include media('>=phone') {
				flex-flow: row nowrap;
			}

			& > li {
				margin-bottom: 0;
				width: 100%;

				@include media('>=phone') {
					display: flex;
					flex: 1 1 auto;
					max-width: 370px;
				}

				& + li {
					@include media('>=phone') {
						margin-left: 10px;
					}
				}

				& > a {
					border: 0 none;
					border-radius: 0;
					font-size: 16px;
					margin: 0;
					padding: 1rem 0;
					text-align: center;
					transition: all 300ms ease;

					@include media('>=phone') {
						align-items: center;
						display: flex;
						flex: 1 1 auto;
						justify-content: center;
					}

					@include media('>=tablet') {
						font-size: 22px;
					}
				}

				&.active > a {
					border: 0 none;
					position: relative;

					@include media('>=phone') {
						&:after {
							content: '';
							border-style: solid;
							border-width: 0 6px 6px 6px;
							bottom: 0;
							height: 0;
							left: 50%;
							position: absolute;
							transform: translateX(-50%);
							width: 0;

							@include media('>=tablet') {
								border-width: 0 9px 9px 9px;
							}
						}
					}
				}
			}
		}
		.lsx-blog-customizer-posts-wrapper {
			width: 100%;
			.slick-arrow {
				display: none !important;
			}
			.post-slot {
				&.slick-slide {
					margin-left: 10px;
					margin-right: 10px;
				}
			}
		}
	}

	.lsx-team-avatar {
		border-radius: 50%;
		display: block;
		height: 32rem;
		margin: 0 auto 10px;
		overflow: hidden;
		width: 32rem;

		& > img {
			width: 100%;

			&.lazyload,
			&.lazyloading {
				width: auto;
			}
		}
	}

	.lsx-team-socials-header {
		display: block;
		margin: 0 auto;
		padding-bottom: 5px;
		position: relative;
		text-align: center;

		&:after {
			border-bottom: 1px solid;
			bottom: 0;
			content: '';
			height: 0;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
			width: 80px;
		}
	}

	.lsx-team-socials {
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		margin: 2.4rem 0 4.25rem;
		padding: 0;

		@include media('>=tablet') {
			margin: 2rem 0 0;
		}

		& > li {
			margin-left: 15px;
			margin-right: 15px;
			padding: 0;

			& > a {
				align-items: center;
				border-radius: 50%;
				display: flex;
				height: 30px;
				justify-content: center;
				transition: background 300ms ease;
				width: 30px;
			}
		}
	}

	.lsx-team-name {
		margin-bottom: 0;
	}

	.lsx-team-job-title {
		margin-bottom: 0;
		margin-top: 1.2rem;
	}

	.lsx-team-content {
		p {
			margin-bottom: 0;
			margin-top: 2.4rem;
		}
	}

	.lsx-team-contact {
		padding-left: 0;
		margin-top: 4.25rem;

		li {
			margin-bottom: 5px;
		}

		.fa {
			font-size: 22px;
			margin-right: 5px;
			vertical-align: top;
		}
	}
}

@include customizer-team-body-colours(#f6f6f6, #dadddf, #4a4a4a, #418ad0, #f7ae00, #919191);
